.carousel {
  overflow: hidden;
}
.carousel__container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.carousel {
    .carousel__carousel {
    }
    .l-constrain {
    }
    .carousel__arrow {
        height: 40px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: calc(50% - 20px);
        &:before  {
            color: $prr-orange;
            font-family: $header-font-family;
            font-size: rem(45px);
        }
    }
    @media (min-width: $bp-hide-mobile-menu) {

    }
    .carousel__arrow--prev {
        left: 10px;
        &:before {
            content: '\2039';
        }
    }
    .carousel__arrow--next { 
        right: 10px;
        &:before {
            content: '\203A';
        }
    }
}
