// @file
// Component: file-block

.file-block {}
.file-block__title {}
.file-block__content {}
.file-block__files {
  columns: 1;
  margin: 1rem auto;
  padding: 0;
  @media (min-width: $bp-hide-mobile-menu) {
    columns: 2;
    column-rule: 1px double lighten($color-text-secondary, 40%);
    column-fill:  auto;
    // padding: 0 2rem;
  }
  div {
    padding: rem(10px);
  }
}
