{% block html_head_container %}
  {% include 'html-header.twig' %}
{% endblock %}

{% block page_header %}
  {# This is where you would stick another header, if different than #}
  {{ function('get_header') }}
{% endblock %}

<!-- Provided by templates/base.twig -->
<body {{ function('body_class')}}>

  {% block skiplinks %}
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
    </div>
  {% endblock %}

  {% block search %}
    {% if options.global_enable_wpsearch %}
      <div class="block--search">
        <div class="l-constrain">
          {% include '@components/searchform/searchform.twig' with {
           button_label: 'Search',
          }%}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% embed '@layouts/regions/header/header.twig' %}
    {% block content %}
      {% include '@components/header--main/header--main.twig' %}
    {% endblock  %}
  {% endembed %}

  <main id="main" class="main" role="main" tabindex="-1">
    {% embed '@layouts/regions/preface/preface.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}

    {% block content %}
      {% embed '@layouts/regions/content/content.twig' %}
        {% block content %}
        {% endblock %}
      {% endembed %}
    {% endblock %}

    {% embed '@layouts/regions/postscript/postscript.twig' %}
      {% block content %}
      {% endblock %}
    {% endembed %}
  </main>

  {% include '@components/scroll-to-top/scroll-to-top.twig' %}

  {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
  {% endblock %}

  {% block javascripts %}
  {% endblock %}

</body>
</html>
