// @file
// Styles for Cards.
$card_padding: 1rem;
$card_width: 100%;

.card {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  max-width: $card_width;
  padding: 1rem;
  text-align: center;
}
.card__content {
  padding: 1rem 0;
}

.card--square {
  .card__image img {
    border-radius: 0%;
    margin: 0 auto;
  }
}

.card--circle {
  .card__image img {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
  }
}

.card--profile {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 0;
  .card__image {
    width: 30%;
    height: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card__meta {
    position: relative;
    padding: rem(20px) 0;
  }
  .card__tab {
    position: absolute;
    display: inline-block;
    left: 0;
    top: -13px;
    height: 26px;
    padding: 0 1rem 0 1rem;
  }
}

.card--quote {
  .card__content {
    font-size: 1.2rem;
    font-style: italic;
  }
  .card_author {
    font-size: .9rem;
  }
}

.card--full {
  max-width: 100%;
}
