<!-- Provided by /03-components/site-logo/site-logo.twig  -->
<a class="site-logo" href="{{ url }}" title="{{ 'Home' }}" rel="home">
  <img class="site-logo__image" src="{{ site_logo }}" alt="{{ 'Home' }}" />
</a>
