<!-- Provided by /03-components/card/card--profile.twig  -->
<div class="card card--profile">
    <div class="card__image" style="background-image: url({{ card_image }})">
    </div>
    <div class="card__meta">
        <div class="card__tab">
            {{ card_location }}
        </div>
        <h3 class="card__title">
            {{ card_name }}
        </h3>
        <div class="card__content">
            {{ card_content|raw }}
        </div>
    </div>
</div>
