.is-left-aligned {
  text-align: left;
}
.is-right-aligned {
  text-align: right;
}
.is-center-aligned {
  text-align: center;
}
.is-hidden-on-mobile {
  display: block;
  @media (max-width: $bp-hide-mobile-menu) {
      display: none !important;
  }
}
.is-hidden-on-desktop {
  display: block;
  @media (min-width: $bp-hide-mobile-menu) {
      display: none !important;
  }
}