// @file
// Component: dynamic-menu
.dynamic-menu {
  background-color: get-color(white, 0);
  padding: 0;
  position: relative;
  z-index: 100;
}
.dynamic-menu__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.dynamic-menu__logo {
  margin-right: rem(10px);
}
.dynamic-menu__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.dynamic-menu__link {
  margin-right: rem(10px);
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.dynamic-menu__builder {}
