.offset-hero {
    .offset-hero--bg {
        padding-top: 100px; 
        background-color: lavender;
        &.offset-hero--image {
            background-repeat: no-repeat;
            padding-top: 25%;
            background-size: cover;
            @media(min-width: $bp-hide-mobile-menu) {
                // background-size: contain;
                // padding-top: 400px;
            }
        }
        .l-fifty-fifty__col {
            min-height: 0;
        }
    }
    .offset-hero__content {
        background-color: white;
        padding: 1rem 1rem 2rem 1rem;
    }
}
