<!-- Provided by /03-components/offset-hero/offset-hero.twig  -->
<div class="offset-hero">
    <div class="offset-hero--bg {{ offsetHero_image ? 'offset-hero--image' : '' }}"  style="background-image: url({{ offsetHero_image ?: none }})">
        <div class="l-constrain">
            <div class="offset-hero__content">
                {% embed "@layouts/grid/grid-2-column/grid-2-column.twig" %}
                    {% block content %}
                        <h2>
                            {{ offsetHero_title }}
                        </h2>
                        <div>
                            {{ offsetHero_content|raw }}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
