// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$color-body: #fff;
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: #0071bc;
$color-link-hover: #205493;
$color-link-visited: #4c2c92;
$color-selection-background: #dce4ef;
$color-selection-foreground: #212121;
$color-text-primary: #212121;
$color-text-secondary: #5b616b;

// PRR Colors 
$prr-blue: #00336A;
$prr-orange: #F36E21;
$prr-white: #FFF;
$prr-grey: #3F4754;
$prr-navy: #27449C;

// TEMP THEME COLORS
$ff-dark-theme-font: #fff;
$ff-dark-theme-bg: #927CA0;
$ff-light-theme-font: #927CA0;
$ff-light-theme-bg: #C5B9CC;
$ff-default-theme-font: #000;
$ff-default-theme-bg: #fff;


$colors: (
  black: (
    0: #4a4a4a, //
    1: #111926, //
    2: #000,
  ),
  blue: (
    0: #00798d, //
    1: #4b7f97
  ),
  grey: (
    0: #e2e2e2,
    1: #777777,
    2: #f8f8f8,
    3: #f5f4f4
  ),
  white: (
    0: #fff, //light theme header font
  ),
  transparent: (
    0: rgba(0,0,0,0),
  )
);


@function get-color($color, $value: 0) {
  @return map-get(map-get($colors, $color), $value);
}