<!-- Provided by /03-components/header--main/header--main.twig  -->
<div class="header--main">
    <div class="l-constrain">
        <div class="header-content--main">
            {% include '@components/site-logo/site-logo.twig' with {
                url: '/',
                site_logo: options.global_header_image
            } %}
            <div class="header__nav">
                {% embed '@layouts/regions/navigation/navigation.twig' %}
                    {% block content %}
                        {% include '@components/menu/menu.twig' with
                        {
                            items: primary_menu.items,
                            menu_name: 'main'
                        }
                        %}
                    {% endblock  %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
