.searchform {
  display: flex;
    padding: 5px 0;
    justify-content: flex-end;
    height: 40px;
}

.searchform__input {
  margin-right: 3px;
}

.block--search {
  display: none;
  @media (min-width: $bp-hide-mobile-menu) {
    display: block;
  }
}
