.dropdown {
  display: grid;
  height: 100%;
}

.dropdown__inner {
  align-content: center;
  display: grid;
  text-align: center;
}

.dropdown__title {
  margin: 0;
}

.dropdown__content {
  padding: rem(20px) 0;
}

.dropdown__button {
  position: relative;
  &:focus,
  &:hover {
    .dropdown__menu {
      display: block;
    }
  }

  button {
    margin: 0;
  }
}

.dropdown__menu {
  display: none;
  overflow: visible;
  position: absolute;
  white-space: nowrap;
  width: 100%;
  z-index: 10;

  &:focus,
  &:hover {
    display: block;
  }
}

.dropdown__link {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  padding: 1rem;
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: $prr-grey;
    color: $prr-white;
  }
}
