<!-- Provided by /03-components/file/file.twig  -->
<div class="file">
  <i class="icon icon--{{ icon }}"></i><a href="{{ link ? link : url }}" class="file__link" target="_blank">{{ name }}</a>
</div>
