.notes-as-you-go {
    text-align: center;
    padding: 2rem 0;
    .notes-as-you-go__input-container {
        .notes-as-you-go__input {
            // display: none;
            margin: 0 auto;
            height: 200px;
            width: 80%;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 6px 12px;
            font-size: $font-size-sm;
        }
        &.is-active {
            .notes-as-you-go__input {
                display: block;
            }
        }
    }
    .notes-as-you-go__button-text {
        display: none;
        &.is-active {
            display: block;
        }
    }
    .notes-as-you-go__title {
        font-size: $font-size-xl;
        font-weight: 600;
    }
    .notes-as-you-go__content {
        font-size: $font-size-md;
        text-align: left;
    }
}