.icon-slat {
    padding: 2rem 0;
    &__container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        @media(min-width: $bp-hide-mobile-menu) {
            flex-direction: row;
            padding: 60px;
        }
    }
    &__main {
        flex: 0 1 70%;
        display: flex;
        flex-direction: column;
        @media(min-width: $bp-hide-mobile-menu) {
            flex-direction: row;
        }
    }
    &__button {
        flex: 0 1 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon {
        margin: 0 auto;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media(min-width: $bp-hide-mobile-menu) {
            margin: 0;
        }
    }
    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media(min-width: $bp-hide-mobile-menu) {
            padding: 0 20px;
            text-align: left;
        }
    }
    &__title {
    }
    &__description {
    }
}