.full-width-image {

    position: relative;
}

.full-width-image__image {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.full_width_image__caption {
  margin: 0 auto;
  text-align: center;
}

.full-width-image--small {
  background-position: center center;
  max-height: 300px;
  padding-bottom: 0;
}
